body{
    background: linear-gradient(to top,  #ede574, #e1f5c4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

nav{
    padding-left: 15px;
}

.page-content{
    padding-left: 0px;
    padding-top: 20px;
}